
#Images
*.png
*.jpg
*.jpeg

#Data files
data/raw/brpgewaspercelen_definitief_2025.gpkg
data/processed/greengrid_full.gpkg
data/processed/greengrid_scores.gpkg

#Pychache and IDE settings
**/__pycache__/
.vscode/*

.env

*scripts/*